@use "custom";

// Components
@use "components/custombuttons";
@use "components/customcard";

// Sections
@use "sections/navbar";
@use "sections/landing";
@use "sections/about";
@use "sections/experience";
@use "sections/interest";
@use "sections/photography";
@use "sections/contact";
@use "sections/footer";

// Media Controller
@use "media_controller/responsiveness";

// BS5 Icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Flow+Rounded&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Line
@import url('https://fonts.googleapis.com/css2?family=Flow+Rounded&family=Inter:wght@800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}
// ::-webkit-scrollbar {
//     display: none;
// }

line {
    font-family: 'Flow Rounded', cursive;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 4rem;
    margin: 0;
}

h2 {
    font-size: 2.25rem;
    font-weight: 600;
    margin: 0;
}

h3 {
    font-size: 2rem;
    margin: 0;
}

h4 {
    font-size: 1.75rem;
    margin: 0;
}

h5 {
    font-size: 1.5rem;
    margin: 0;
}

h6 {
    font-size: 1.3rem;
    margin: 0;
}

p {
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
}

a {
    font-size: 1.1rem;
    margin: 0;
}

// ====================================================
// =                   RESPONSIVE                     =
// ====================================================



@media (max-width: 1500px) {
    .page_header .photo-light {
        background-size: 500px 800px;
    }
    .page_header .photo-dark {
        background-size: 500px 800px;
    }
    
    .page_header {
        
        .dark-mode-toggler {
            top: 11%;
            right: 2%;
            border-radius: 50%;
            padding: 0.3rem 0.55rem;
        }

        .light-mode-toggler {
            top: 11%;
            right: 2%;
            border-radius: 50%;
            padding: 0.3rem 0.55rem;
        }
    }

    .about #about_photo {
        height: 430px;
        width: 330px;
    }

    .photography {
        #photo-row {
            img {
                height: 450px;
                max-width: 100%;
            }
        }
    }

    h1 {
        font-family: 'Inter', sans-serif;
        font-weight: 900;
        font-size: 3.75rem;
        margin: 0;
    }
    
    h2 {
        font-size: 2rem;
        margin: 0;
    }
    
    h3 {
        font-size: 1.75rem;
        margin: 0;
    }
    
    h4 {
        font-size: 1.5rem;
        margin: 0;
    }
    
    h5 {
        font-size: 1.25rem;
        margin: 0;
    }

    h6 {
        font-size: 1.05rem;
        margin: 0;
    }
    
    p {
        font-size: 1rem;
        font-weight: 300;
        margin: 0;
    }
    
    a {
        font-size: 1rem;
        margin: 0;
    }
}

@media (max-width: 1200px) {

    .page_header {
        
        .dark-mode-toggler {
            top: 11%;
            right: 2%;
            border-radius: 50%;
            padding: 0.2rem 0.4rem;
        }

        .light-mode-toggler {
            top: 11%;
            right: 2%;
            border-radius: 50%;
            padding: 0.3rem 0.55rem;
        }
    }

    .about {
        #about_photo {
            height: 380px;
            width: 280px;
        }

        #row_about {
            box-shadow: -5px 5px 16px -10px darken(#F5F5F5, 20%), 
            5px -5px 16px -10px darken(#F5F5F5, 20%), 
            -5px -5px 16px -10px darken(#F5F5F5, 20%), 
            5px 10px 16px -10px darken(#F5F5F5, 20%);
        }

        #cs_span {
            display: inline-block;
        }

        #about_title {
            text-align: center;
        }

        #hire_btn {
            display: none;
        }

        #about_title {
            text-align: center;
        }
    }

    .interest {
        #int-row {
            overflow-x: auto;
            flex-wrap: nowrap;
            align-self: center;
        }
    }

    // -------------- Portfolio


    .photography {
        
        #photo-row {
            overflow-x: auto;
            flex-wrap: nowrap;
            align-self: center;

            .img-container .img-overlay {
                display: none;
            }

            img {
                border-radius: 20px;
                max-height: 275.15px;
                max-width: 100%;
                margin-bottom: 5px;
            }
        }
    }

    h1 {
        font-size: 3rem;
        font-weight: 700;
        margin: 0;
    }

    h2 {
        font-size: 1.8rem;
        margin: 0;
    }

    h3 {
        font-size: 1.45rem;
        margin: 0;
    }

    h4 {
        font-size: 1.3rem;
        margin: 0;
    }

    h5 {
        font-size: 1.1rem;
        margin: 0;
    }

    h6 {
        font-size: 1.05rem;
        margin: 0;
    }

    p {
        font-size: 1rem;
        font-weight: 300;
        margin: 0;
    }

    a {
        font-size: 1rem;
        margin: 0;
    }
}

@media (min-width: 1200px) {
    .container-fluid {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 1.25rem;
    }

    .container-fluid {
        max-width: 768px;
    }

    .page_header {
        height: 100vh;
        
        .dark-mode-toggler {
            top: 8%;
            right: 3%;
            border-radius: 50%;
            padding: 0.2rem 0.4rem;
        }

        .light-mode-toggler {
            top: 8%;
            right: 3%;
            border-radius: 50%;
            padding: 0.3rem 0.55rem;
        }

        .socials {
            display: none;

            // position: absolute;
            // bottom: 5%;
    
            // ul {
            //     list-style: none;
    
            //     li {
            //         padding: 1rem 1rem;
            //         display: inline;
            //     }
            // }
        }

        .photo-light {
            background: none;
        }

        .photo-dark {
            background: none;
        }

        #header_text {
            text-align: center;
        }
    }

    .about #about_photo {
        height: 330px;
        width: 230px;
    }

    .experience {
        h2, line {
            text-align: center;
        }
    }

    .experience #exp_company,
    .experience #exp_desc {
        border: none;
    }
    
    .photography {
        
        #photo-row {
            overflow-x: auto;
            flex-wrap: nowrap;
            align-self: center;

            .img-container .img-overlay {
                display: none;
            }

            img {
                border-radius: 20px;
                max-height: 275.15px;
                max-width: 100%;
                margin-bottom: 5px;
            }
        }
    }

    h1 {
        font-size: 3rem;
        margin: 0;
    }

    h2 {
        font-size: 1.8rem;
        margin: 0;
    }

    h3 {
        font-size: 1.45rem;
        margin: 0;
    }

    h4 {
        font-size: 1.3rem;
        margin: 0;
    }

    h5 {
        font-size: 1.1rem;
        margin: 0;
    }

    h6 {
        font-size: 1.05rem;
        margin: 0;
    }

    p {
        font-size: 1rem;
        font-weight: 300;
        margin: 0;
    }

    a {
        font-size: 1rem;
        margin: 0;
    }
}