@use '../custom' as *;

.experience {
    transition: 0.5s cubic-bezier(0.75, 0, 0.25, 1);
    
    #exp_date {
        font-family: "Space Mono", monospace;
    }

    #exp_company, #exp_desc {
        border-left: 1px solid $light;
        text-align: justify;
    }
}