@use '../custom'as *;

.card {
    border-radius: 20px;
    padding: 2.5rem 0;
    box-shadow: -5px 5px 10px -15px darken($gray-light, 20%), 
    5px -5px 10px -15px darken($gray-light, 20%), 
    -5px -5px 10px -15px darken($gray-light, 20%), 
    5px 10px 10px -15px darken($gray-light, 20%);
    background-color: $gray-light;
    max-width: 500px;

    .icons {
        width: 100px;
        height: 100px;
        margin: auto;
        filter: opacity(0.8);
        // transition: 0.3s ease-in-out;
    }

    h2 {
        text-align: center;
    }
}