---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ProjectHeader from "../../components/ProjectHeader.astro";
import CodeSection from "../../components/CodeSection.astro";
import { PROJECTS } from "../../data/projects";

import ProjectCard from "../../components/ProjectCard.astro";
import ProjectModal from "../../components/ProjectModal.astro";

const languages = Array.from(
  new Set(
    PROJECTS
      .map(p => p.tech?.[0])
      .filter((t): t is string => Boolean(t))
  )
);
---

<BaseLayout title="Projects">
  <ProjectHeader
    title="Projects"
    subtitle="All systems and tools developed and maintained by me"
    line="01"
    noCode
  />

  {languages.map((lang) => 
  <CodeSection index={1} title={`${lang}_projects`}>
    <div class="project-grid">
      {PROJECTS.map((project) => project.tech.includes(lang) && <ProjectCard project={project} />)}
    </div>
  </CodeSection>
  )}

  <ProjectModal />
</BaseLayout>
